<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>App</title>
</head>
<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <% if current_user %>
        <a class="p-2 text-dark" href="/users/edit"><%= current_user.name %></a>
        <a class="p-2 text-dark" href="/logout">Logout</a>
      <% else %>
        <a class="p-2 text-dark" href="/register">Register</a>
        <a class="p-2 text-dark" href="/login">Login</a>
      <% end %>
    </nav>
  </div>
  <div class="container">
    <%= yield %>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>

  <script type="text/javascript" >
    Conekta.setPublicKey('<%= settings.public_key %>');

    var conektaSuccessResponseHandler = function(token) {
      var $form = $("#card-form");
      //Inserta el token_id en la forma para que se envíe al servidor
       $form.append($('<input type="hidden" name="conektaTokenId" id="conektaTokenId">').val(token.id));
      $form.get(0).submit(); //Hace submit
    };
    var conektaErrorResponseHandler = function(response) {
      var $form = $("#card-form");
      $form.find(".card-errors").text(response.message_to_purchaser);
      $form.find("button").prop("disabled", false);
    };

    //jQuery para que genere el token después de dar click en submit
    $(function () {
      $("#card-form").submit(function(event) {
        var $form = $(this);
        // Previene hacer submit más de una vez
        $form.find("button").prop("disabled", true);
        Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
        return false;
      });
    });
  </script>
</body>
</html>
